.carousel {
  width: 330px;
  overflow: hidden;

  &__list {
    display: flex;
    width: 310px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0 10px;
  }

  &__dots-wrap {
    position: absolute;
    top: 200px;
    left: 185px;
    display: flex;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgb(170, 170, 170);

    &_active {
      background-color: rgb(100, 100, 100);
    }
  }
}
